body {
	background-color: gray;
}

/*Style for the Name in the middle*/
h1 {
	font-weight: bold;
	font-size: 28px;
	text-align: center;
}

/*Style for headings*/
h2 {
	font-weight: bold;
	font-size: 18px;
}

/*Style for normal text*/
h3 {
	font-size: 16px;
}

/*Style for Sub-headings*/
h4 {
	font-size: 16px;
	font-style: italic;
}